* {
    all: unset;
    border: none;
    border-radius: 4;
    font-family: MesloLGS Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: red;
    background-color: rgb(59, 55, 43);
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 8px;
    padding: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: #26a65b;
    background-color: rgb(43, 48, 59);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

#workspaces > :first-child {
    border-radius: 8px 0 0 8px;
}

#workspaces > :last-child {
    border-radius: 0 8px 8px 0;
}

#workspaces button {
    padding: 0 0.7em;
    background-color: rgba(100, 114, 125, 0.5);
    color: #f8f8f2;
    min-width: 12px;
    border-radius: 0;
    transition:
        background-color 0.25s,
        color 0.25s,
        min-width 0.25s;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727d;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: #fabd2f;
    color: #282a36;
    min-width: 30px;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#window,
#submap,
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-weather,
#custom-microphone,
#custom-media,
#custom-hyprsunset,
#tray,
#mode,
#idle_inhibitor,
#custom-notification,
#custom-logout,
#custom-logo,
#custom-nvidia,
#user,
#sway-scratchpad,
#bluetooth,
#power-profiles-daemon,
#systemd-failed-units,
#mpd {
    padding: 0 7px;
    margin: 4px 2px;
    color: #f8f8f2;
    border-radius: 7px;
}

#window {
    background-color: #d65d0e;
    padding: 0 12px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #55a1ff;
    color: #282a36;
}

#battery {
    background-color: #44475a;
    color: #f8f8f2;
}

#submap {
    color: #f8f8f2;
    background-color: #ea0000;
    font-weight: bold;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #ffb300;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #b6fa8c;
    color: #282a36;
}

#user {
    background-color: #ffa125;
    color: #282a36;
}

#memory {
    background-color: #f1fa8c;
    color: #282a36;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #adfa50;
    color: #282a36;
    padding-right: 14px;
}

#bluetooth {
    background-color: #076678;
    color: #f8f8f2;
}

#network.disconnected {
    background-color: #fa5050;
    color: #282a36;
}

#wireplumber,
#pulseaudio,
#custom-microphone {
    background-color: #93eaf9;
    color: #282a36;
}

#wireplumber.muted,
#pulseaudio.muted,
#custom-microphone.muted {
    background-color: #44475a;
    color: #f8f8f2;
}

#custom-media.playing-spotify {
    background-color: #66cc99;
}

#custom-media.playing-vlc {
    background-color: #ffa000;
}

#custom-nvidia {
    background-color: #65d800;
    color: #282a36;
}

#temperature {
    background-color: #ff79c6;
    color: #282a36;
}

#temperature.critical {
    background-color: #ff5555;
    color: #282a36;
}

#tray {
    background-color: rgba(88, 88, 88, 0.355);
}

#tray menu {
    background-color: #282a36;
    color: #f8f8f2;
    border: 1px solid #44475a;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#tray menuitem {
    padding: 4px;
}

#tray menuitem:hover {
    background-color: #44475a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #44475a;
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    background-color: #f8f8f2;
    color: #44475a;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background-color: #f8f8f2;
    color: #282a36;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state {
    background-color: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-weather {
    background-color: #8be9fd;
    color: #282a36;
    margin-right: 5;
}

#disk {
    background-color: #ffb86c;
    color: #282a36;
}

#sway-scratchpad {
    background-color: #50fa7b;
    color: #282a36;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    background-color: #282a36;
}

#custom-logout {
    background-color: #000000;
}

#custom-logo {
    background-color: #ffd21c;
    transition: background-color 0.25s;
    color: #282a36;
}

#custom-logo:hover {
    background-color: #75ff3f;
}

#temperature.critical {
    background-color: #ff5555;
    color: #282a36;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.power-saver {
    background-color: #92e64d;
    color: #282a36;
}
#power-profiles-daemon.balanced {
    background-color: #e89818;
    color: #282a36;
}
#power-profiles-daemon.performance {
    background-color: #ca4a20;
}

#custom-hyprsunset.on {
    background-color: #60dfff;
    color: #ffe735;
}

#custom-hyprsunset.off {
    background-color: rgb(191, 138, 255);
    color: #282a36;
}
